﻿
@{
    ViewData["Title"] = "Buy";
}

<h1>Buy</h1>
<h1>@ViewData["Title"]</h1>

<body>
    <div class="container">
        <form method="post">
            <input type="text" name="search" placeholder="Пошук Міста" />
            <ul>
                <li><a href="#">Київ</a></li>
                <li><a href="#">Чернівці</a></li>
                <li><a href="#">Львів</a></li>
                <li><a href="#">Харків</a></li>
            </ul>
            <input type="text" name="vid" placeholder="Відділення" />
            <input type="text" name="number" placeholder="Номер телефону" />
            <input type="text" name="sum" placeholder="Сума замовлення" />
            <input type="text" name="LastName" placeholder="Прізвище" />
            <input type="text" name="FirstName" placeholder="Імя" />
            <input type="submit" name="submit" value="Замовити" />
        </form>
    </div>
</body>
<style>

    body {
        font-family: fantasy;
        background-color: teal;
    }
</style>


