﻿@{
    ViewData["Title"] = "Home Page";
}
    <body>
        <div class="container">
            <form >
                <input type="text" name="search" placeholder="Пошук Міста" />
                <ul>
                    <li><a href="#">Київ</a></li>
                    <li><a href="#">Чернівці</a></li>
                    <li><a href="#">Львів</a></li>
                    <li><a href="#">Харків</a></li>
                </ul>
                <input type="text" name="search" placeholder="Відділення" />
                <input type="text" name="search" placeholder="Номер телефону" />
                <input type="text" name="search" placeholder="Сума замовлення" />
                <input type="text" name="search" placeholder="Прізвище" />
                <input type="text" name="search" placeholder="Імя" />
                <input type="submit" name="submit" value="Замовити" />
             
            </form>
        </div>
        </body>
<style>

    body {
        font-family: fantasy;
        background-color: teal;
    }
</style>
